.profile-card {
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
  }
  
  .status-dot {
    width: 14px;
    height: 14px;
    background-color: green;
    border-radius: 12px;
    position: absolute;
    right: 7px;
    border: solid 2px white;
  }