#wrapper {
    display: flex;
    align-items: stretch;
  }
  
  /* Sidebar styles */
  #sidebar {
    width: 250px;
    min-height: 100vh;
    background: #247b7b;
    transition: all 0.3s;
  }
  
  #sidebar .sidebar-header {
    padding: 10px;
    background: #23272b;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
  }
  
  #sidebar ul li {
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1rem;
    display: block;
    color: #ffffff;
  }
  
  #sidebar ul li a:hover {
    background: #495057;
    text-decoration: none;
  }
  
  /* Sidebar toggle */
  #sidebar .close-icon {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: right;
  }
  
  .sidebar.active {
    margin-left: -250px;
  }
  
  /* Content wrapper */
  #page-content-wrapper {
    flex: 1;
    width: 100%;
    // padding-left: 250px;
    transition: all 0.3s;
  }
  
  /* On mobile, collapse sidebar */
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
      position: absolute;
      z-index: 9999;
    }
  
    #sidebar.active {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      padding-left: 0;
    }
  
    #page-content-wrapper.active {
      padding-left: 250px;
    }
  
    .navbar .btn {
      display: block;
    }
  }

  .header-links a{
    margin: 0 15px 0 0;
    text-decoration: none;
    color: #23272b;
  }
